<p>
  <strong>Name:</strong>
  <%= @mammal.name %>
</p>

<p>
  <strong>NetId:</strong>
  <%= @mammal.netid %>
</p>

<p>
  <strong>Class Year</strong>
  <%= @mammal.class_year %>
</p>

<%= link_to 'Delete', mammal_path, :confirm => 'Are you sure you want to delete this mammal?', :method => :delete  %>
<%= link_to 'Edit', edit_mammal_path(@mammal) %> |
<%= link_to 'Back', mammals_path %>